<div id="aside">
  <h3>关于我们</h3>

  <div class="divider"></div>
  <a href="/aboutus">关于爱客</a>
  <a href="/contact" class="active">联系我们</a>
  <a href="/recruit">招贤纳士</a>
  <a href="/safe">数据安全</a>
</div>