<div id="aside">
  <h3>关于我们</h3>

  <div class="divider"></div>
  <a href="javascript:;">关于爱客</a>
  <a href="javascript:;" class="active">联系我们</a><a href="javascript:;">招贤纳士</a><a href="javascript:;">数据安全</a>
</div>