<!DOCTYPE html>
<html>
<head lang="zh">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/ik-ico.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/lib/jquery.fullPage.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/lib/revolutionslider.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/lib/ewTimeline.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/newpage.css" type="text/css"/>
</head>
<body>
<div class="warning hide">
  <i class="icon-uniE60F m-r-s"></i>
  <p>系统检测到<span>您所使用的浏览器版本较低</span>，推荐使用
    <a href="http://www.microsoft.com/zh-cn/download/internet-explorer.aspx" target="_blank"><span>IE9+</span></a> 、<a href="http://www.firefox.com.cn/" target="_blank"><span>Firfox</span></a>或<a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank"><span>Chrome</span></a>浏览器打开，否则将无法体验完整的产品功能。</p>
  <a href="javascript:;" id="remove-warning"><i class="icon-cancel-circle"></i></a>
</div>
<div class="header">
  <div class="cont">
    <div class="brand-logo">
      <img src="/img/beta_index_logo.png" alt=""/>
    </div>
    <div class="nav">
      <ul>
        <li><a href="/" class="active">首页</a></li>
        <li><a href="/advantage">产品优势</a></li>
        <li><a href="/mobileversion">移动版</a></li>
        <li><a href="/htb">如何购买</a></li>
        <li><a href="/help">帮助中心</a></li>
        <!--<li><a href="/reports">媒体报道</a></li>-->
        <li><a href="/aboutus">关于我们</a></li>
      </ul>
    </div>
    <div class="tools">
      <ul>
        <!--   <li><a href="/reglogin/login">登录</a></li>
           <li><a href="/reglogin/register" class="border-xs">免费注册</a></li>-->
        <li>
          <a href="javascript:;">进入爱客 →</a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="main">
  <%- body %>
  <%-defineContent('quicknav')%>
</div>

<div class="footer <%- footerClass ? footerClass : '' %>">
  <div class="t1">
    <span>爱客CRM--只为销售更容易</span>
  </div>
  <div class="sns">
    <ul>
      <!--<li><a href="javascript:;"><i class="icon-uniE600"></i></a></li>-->
      <li><a href="javascript:;"><i class="icon-uniE602"></i></a></li>
      <!--<li><a href="javascript:;"><i class="icon-uniE601"></i></a></li>-->
    </ul>
    <span class="copyright">沪ICP备13009389号-4</span>
  </div>
  <div class="t2">
    <span>欢迎拨打：138-0181-8364</span>
  </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.validate.js"></script>
<script src="/javascripts/jquery.validate.default.js"></script>
<script src="/javascripts/lib/jquery.themepunch.plugins.min.js"></script>
<script src="/javascripts/lib/jquery.themepunch.revolution.min.js"></script>
<script src="/javascripts/lib/jquery.scrollUp.min.js"></script>
<script src="/javascripts/lib/Scrolld.0.2.1.js"></script>
<script src="/javascripts/lib/jquery.easings.min.js"></script>
<script src="/javascripts/lib/jquery-ui.js"></script>
<script src="/javascripts/index.js"></script>
<script src="//localhost:9997/livereload.js"></script>
<%- script %>
<script type="text/javascript">
  $.scrollUp({
    scrollName: 'scrollUp',      // Element ID
    scrollDistance: 300,         // Distance from top/bottom before showing element (px)
    scrollFrom: 'top',           // 'top' or 'bottom'
    scrollSpeed: 300,            // Speed back to top (ms)
    easingType: 'easeOutCirc', // Scroll to top easing (see http://easings.net/)
    animation: 'fade',           // Fade, slide, none
    animationSpeed: 200,         // Animation speed (ms)
    scrollTrigger: false,        // Set a custom triggering element. Can be an HTML string or jQuery object
    scrollTarget: false,         // Set a custom target element for scrolling to. Can be element or number
    scrollText: '<i class="icon-arrow-up"></i>', // Text for element, can contain HTML
    scrollTitle: '滚动到顶部',          // Set a custom <a> title if required.
    scrollImg: false,            // Set true to use image
    activeOverlay: false,        // Set CSS color to display scrollUp active point, e.g '#00FFFF'
    zIndex: 2147483647           // Z-Index for the overlay
  });
</script>
</html>