<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/ik-ico.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/lib/uploadify.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/rl.css" type="text/css"/>
</head>
<body class="rl">
<div class="wrap">
  <div class="header">
    <a href="/" class="logo">
    </a>
    <div class="register-step" data-toggle="step">
         </div>
  </div>
  <%- body %>
  <div class="footer">
    沪ICP备13009389号-4
  </div>
</div>
</body>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/jquery.validate.js"></script>
<script src="../javascripts/jquery.validate.default.js"></script>
<script src="../javascripts/upload/jquery.uploadify.js"></script>
<script src="../javascripts/index.js"></script>
<%- script %>
</html>