<!DOCTYPE html>
<html>
<head lang="zh-cn">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/ik-ico.css" type="text/css"/>
  <link rel="stylesheet" href="/stylesheets/rl.css" type="text/css"/>
</head>
<body class="rl">
<div class="wrap">
  <div class="header">
    <a href="/" class="logo">
    </a>
    <div class="register-step">
      <div class="visual">
        <div class="step step1">
          <span class="inner-circle">
            <i class="icon-check"></i>
          </span>
        </div>
        <div class="step step2">
          <span class="inner-circle"></span>
        </div>
        <div class="step step3">
          <span class="inner-circle"></span>
        </div>
        <div class="line">
        </div>
        <div class="line inner s2"></div>
      </div>
      <div class="title">
        <span>身份验证</span>
        <span>初始化设置</span>
        <span>完成</span>
      </div>
    </div>
  </div>
  <%- body %>
  <div class="footer">
    沪ICP备13009389号-4
  </div>
</div>
</body>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/jquery.validate.js"></script>
<script src="../javascripts/jquery.validate.default.js"></script>
<script src="../javascripts/index.js"></script>
<%- script %>
</html>