<!DOCTYPE html>
<html>
<head lang="zh-cn">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/rl.css" type="text/css"/>
</head>
<body class="rl">
<div class="wrap">
    <div class="header">
        <div class="logo">
        </div>
        <div class="nav">
            <a href="javascript:;">
                <span class="slice1"></span>
                <span class="slice2"></span>
                <span class="slice3"></span>
            </a>
        </div>
    </div>
    <%- body %>
    <div class="footer">
        沪ICP备13009389号-4沪ICP备13009389号-4
    </div>
</div>
</body>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/jquery.validate.js"></script>
<script src="../javascripts/jquery.validate.default.js"></script>
<script src="../javascripts/index.js"></script>
<%- script %>
</html>