<!DOCTYPE html>
<html>
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/lib/jquery.fullPage.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/lib/revolutionslider.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/lib/jquery.nouislider.css" type="text/css"/>
    <link rel="stylesheet" href="../stylesheets/style.css" type="text/css"/>
</head>
<body>
<div class="header">
    <div class="brand-logo"></div>
    <div class="nav">
        <ul>
            <li><a href="javascript:;" class="active">首页</a></li>
            <li><a href="javascript:;">产品优势</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">关于我们</a></li>
        </ul>
    </div>
    <div class="tools">
        <ul>
            <li><a href="javascript:;">登录</a></li>
            <li><a href="javascript:;">免费注册</a></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
<div class="main">
    <%- body %>
</div>
<div class="footer">
    <div class="t1">
        <span>爱客CRM--只为销售更容易</span>
    </div>
    <div class="sns">
        <ul>
            <li><a href="javascript:;"><i class="fa fa-qq"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-qrcode"></i></a></li>
            <li><a href="javascript:;"><i class="fa fa-weibo"></i></a></li>
        </ul>
        <span class="copyright">沪ICP备13009389号-4沪ICP备13009389号-4</span>

    </div>
    <div class="t2">
        <span>欢迎拨打：400-120-8888</span>
    </div>
</div>
</body>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/jquery.validate.js"></script>
<script src="../javascripts/jquery.validate.default.js"></script>
<script src="../javascripts/lib/jquery.themepunch.plugins.min.js"></script>
<script src="../javascripts/lib/jquery.themepunch.revolution.min.js"></script>

<script src="../javascripts/lib/jquery.nouislider.min.js"></script>


<script src="../javascripts/index.js"></script>

<%- script %>
</html>