<% include partials/top-banner %>

<div id="aboutus-block">
  <div class="cont">
    <h2>关于爱客</h2>

    <div>
      <img src="/images/aboutus_img01.png" alt=""/>
      <h4>爱客CRM系统</h4>

      <p>
        爱客CRM系统，是上海微问家旗下核心品牌，爱客CRM专注中小企业的销售管理，从企业自身实际需求出发，围绕客户展开线索-客户-商机-合同-报表等业务活动，帮助销售人员提高业绩。
        爱客CRM强调“以人为本、关爱客户、成就品牌”的核心理念，将业务流和信息流放置在云计算（Cloud）平台，关注销售人员的使用体验，注重销售团队的内部协作，是加强销售管理、提升团队能力、 达成销售目标等一站式移动解决方案。

      </p>
    </div>
    <div>
      <img src="/images/aboutus_img02.png" alt=""/>
      <h4>微问家</h4>
      <p>
        作为智能移动信息化服务提供商，基于移动端（如QQ、微信等APP）面向大中型企业提供个性化移动信息化整体解决方案，旨在帮助企业建立在线移动信息化客服系统，建立企业SCRM数据库，提供从咨询、开发到实施的全程服务。微问家团队采用领先的敏捷轻应用开发技术，重新定义企业移动信息化平台，实现跨平台无缝对接，优化企业与用户的即时沟通、营销、服务等业务流程，提升用户体验，提高企业整体运营效率，正在引领移动信息化领域新的变革。
      </p>
      <p>
        我们专注于销售型CRM领域，协助企业做好销售团队管理、销售过程的管理，致力于用信息化的手段解决企业营销难题。公司核心团队成员来自SalesForce、金蝶、泛微、腾讯等国内外知名IT企业。
      </p>
    </div>
  </div>

  <% include partials/about-aside %>
</div>
