<% include partials/top-banner %>

<div class="advantage-block"  id="salelog">
  <header>
    <span class="num"></span>
    <h1>创新的移动CRM<small>对外维护客情，对内提高销售人员业绩</small></h1>
  </header>
  <div class="cont">
    <img src="" alt=""/>
  </div>


</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="handcrm">
  <div class="cont">
    <div class="pull-right">
      <h2>客户管理</h2>
      <ul>
        <li><i class="icon-check"></i>客户信息轻松录入</li>
        <li><i class="icon-check"></i>关联联系人管理</li>
        <li><i class="icon-check"></i>随手销售拜访记录</li>
      </ul>
    </div>
    <img src="/images/prduct_02.png" alt="" class="even"/>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="mobilesign">
  <img src="/images/prduct_03.png" alt="" class="pull-right"/>

  <div class="cont">
    <h2 >销售管理</h2>

    <ul>
      <li><i class="icon-check"></i>销售机会管理</li>
      <li><i class="icon-check"></i>销售合同管理</li>
      <li><i class="icon-check"></i>线索管理</li>
      <li><i class="icon-check"></i>销售报表与分析</li>
    </ul>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="abutment">
  <div class="cont">
    <div class="pull-right">
      <h2>销售支持</h2>
      <ul>
        <li><i class="icon-check"></i>日程与任务管理</li>
        <li><i class="icon-check"></i>知识库管理</li>
        <li><i class="icon-check"></i>产品管理</li>
        <li><i class="icon-check"></i>工作日志管理</li>
      </ul>
    </div>
    <img src="/images/prduct_04.png" alt="" class="even"/>
  </div>
</div>


<%- contentFor('quicknav') %>
<div id="advantage-quick-nav" class="quick-nav">
  <a href="#salelog"><i class="active"></i></a>
  <a href="#handcrm"><i></i></a>
  <a href="#mobilesign"><i></i></a>
  <a href="#abutment">
    <i></i>
  </a>
</div>

