<% include partials/top-banner %>

<div class="advantage-block"  id="salelog">
  <header>
    <div class="num">01</div>
    <h2>创新的移动CRM<small>对外维护客情，对内提高销售人员业绩</small></h2>
  </header>
  <div class="cont">
    <img src="/images/advantage_01.png" alt=""/>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="handcrm">
  <header>
    <div class="num">02</div>
    <h2>销售管理自动化<small>销售过程流程化，全面掌控销售工作</small></h2>
  </header>
  <div class="cont">
    <img src="/images/advantage_02.png" alt=""/>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="mobilesign">
  <header>
    <div class="num">03</div>
    <h2>客户管理精细化<small>操作清晰易懂，客户详情一切尽在掌握</small></h2>
  </header>
  <div class="cont">
    <img src="/images/advantage_03.png" alt=""/>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block" id="abutment">
  <header>
    <div class="num">04</div>
    <h2>销售协同管理专业化<small>传递优秀经验，规范销售过程，提高销售业绩</small></h2>
  </header>
  <div class="cont">
    <img src="/images/advantage_04.png" alt=""/>
  </div>
</div>


<%- contentFor('quicknav') %>
<div id="advantage-quick-nav" class="quick-nav">
  <a href="#salelog"><i class="active"></i></a>
  <a href="#handcrm"><i></i></a>
  <a href="#mobilesign"><i></i></a>
  <a href="#abutment">
    <i></i>
  </a>
</div>

