<% include partials/top-banner %>

<div class="advantage-block">
  <img src="/images/prduct_01.png" alt="" class="pull-right"/>

  <div class="cont">
    <h2>销售日志</h2>

    <h3>让销售人员每天更高效</h3>
    <ul>
      <li><i class="fa fa-check"></i>手机提交，移动查阅</li>
      <li><i class="fa fa-check"></i>比对点评，及时指导</li>
      <li><i class="fa fa-check"></i>关联客户，过程还原</li>
      <li><i class="fa fa-check"></i>统计分析，轻松管理</li>
    </ul>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block">
  <div class="cont">
    <div class="pull-right">
      <h2>掌上CRM</h2>

      <h3>让销售人员随时随地，不耽误工作</h3>
      <ul>
        <li><i class="fa fa-check"></i>名片扫描，及时存入系统</li>
        <li><i class="fa fa-check"></i>销售动态随时随地更新</li>
        <li><i class="fa fa-check"></i>销售外勤管控</li>
        <li><i class="fa fa-check"></i>数据分析、销售漏斗跑起来</li>
      </ul>
    </div>
    <img src="/images/prduct_02.png" alt="" class="even"/>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block">
  <img src="/images/prduct_03.png" alt="" class="pull-right"/>

  <div class="cont">
    <h2>手机签到</h2>

    <h3>让你知道销售人员去哪了</h3>
    <ul>
      <li><i class="fa fa-check"></i>手机打卡，告诉我你在这里</li>
      <li><i class="fa fa-check"></i>现场拍照，我在这里</li>
      <li><i class="fa fa-check"></i>关联客户，顺路拜访</li>
      <li><i class="fa fa-check"></i>外勤统计，有过程，才有结果</li>
    </ul>
  </div>
</div>
<div class="advantage-divider"></div>
<div class="advantage-block">
  <div class="cont">
    <div class="pull-right">
      <h2>无缝对接微信QQ</h2>

      <h3>让销售人员随时随地，不耽误工作</h3>
      <ul>
        <li><i class="fa fa-check"></i>组织架构同步</li>
        <li><i class="fa fa-check"></i>用户账号可绑定</li>
        <li><i class="fa fa-check"></i>平台对接</li>
        <li><i class="fa fa-check"></i>QQ上潜在用户实时同步</li>
      </ul>
    </div>
    <img src="/images/prduct_04.png" alt="" class="even"/>
  </div>
</div>

