<% include partials/top-banner %>
<div id="contact-block">
  <div class="cont">
    <h2>联系我们</h2>

<!--    <div class="top-tools">
      <div class="bg-dark">
        <h3>客户管理</h3>

        <p>爱客CRM，客户资料、客户拜访、回访记录、客情关怀全方面服务，
          细致入微！</p>
        <a href="javascript:;"><i class="icon-arrow-right"></i>开始您的项目</a>

        <p>For general enquiries</p>

        <p>contact@vcooline.com</p>
      </div>
      <div class="bg-primary">
        <h3>申请代理</h3>

        <p>如果您需要更多信息或者有任何疑问，请填写此表单联系我们</p>

        <a href="javascript:;">hello@vcooline.com</a>

        <p>For general enquiries</p>

        <p>contact@vcooline.com</p>

      </div>
    </div>
    <div class="x-wrap">
      <div class="x"></div>
    </div>-->
    <div class="tm">
      <p><a href="javascript:;">查看地图</a></p>
      <i class="icon-map-pin"></i>
      <p>上海浦东新区郭守敬路498弄 <br/>浦东软件园22号3楼</p><br/>
      <h3><strong><span class="text-muted">欢迎拨打 : </span>4000-365-711
</strong></h3>
      <br/>
      <h3><strong><span class="text-muted">邮箱 : </span>contact@ikcrm.com</strong></h3>
      <br/>
    </div>
  </div>
  <% include partials/about-aside %>
</div>