<div class="g_bggreen">
  <div class="g_cont ">
    <div class="g_buy_txt">如何购买爱客CRM</div>
    <div align="center"><img src="/img/g_p2.png"/> </div>
    <div class="g_contact clearfix">
      <ul>
        <li>
          <div class="g_top1">
            <div class="g_ic"><img alt="" src="/img/g_ic1.png"></div>
            <h3>致电爱客</h3>
          </div>
          <div class="g_des1">
            <!--购买前，为你解答关于爱客和资费计划的各种问题。与知识丰富的爱客售前客服进行交流。-->
          </div>
          <div class="g_des2">4000-365-711</div>
        </li>
        <li>
          <div class="g_top1">
            <div class="g_ic"><img alt="" src="/img/g_ic2.png"></div>
            <h3>致邮爱客</h3>
          </div>
          <div class="g_des1">
            <!--购买前，向知识丰富的爱客售前客服索要资费计划与产品介绍资料，进一步了解爱客。-->
          </div>
          <div class="g_des2">contact@ikcrm.com</div>
        </li>
        <li>
          <div class="g_top1">
            <div class="g_ic"><img alt="" src="/img/g_ic3.png"></div>
            <h3>微信咨询</h3>
          </div>
          <div class="g_des1">
            <!--购买前，为您解答关于爱客和资费计划的各种问题。与知识丰富的爱客售前富裕进行在线交流。-->
          </div>
          <div class="g_des2">微信号：ikcrm</div>
        </li>
      </ul>

    </div>
  </div>
</div>