<div class="tp-banner-container">
  <div class="tp-banner" id="topbanner">
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
        <!-- MAIN IMAGE -->
        <img src="/images/top_banner_01.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption mediumlarge_light_white skewfromleft"
             data-x="center"
             data-y="25"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="1000"
             data-easing="Power3.easeInOut"
             data-endspeed="800"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 1">移动办公全系列解决方案
        </div>
        <div class="tp-caption skewfromright"
             data-x="center"
             data-y="80"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="1600"
             data-easing="Power3.easeInOut"
             data-endspeed="800"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 2"><span
              style="font-size:20px;color: #ffffff; ">全面对接微信，不单单能够通过微信管理你的客户，还可以管理企业内部的销售人员</span>
        </div>
        <div class="tp-caption mediumlarge_light_white skewfromleft"
             data-x="center"
             data-y="120"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="2200"
             data-easing="Power3.easeInOut"
             data-endspeed="800"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 3">爱客移动端 全选上线
        </div>
        <div class="tp-caption lfb skewtoleft"
             data-x="center"
             data-y="190"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="3900"
             data-easing="Power3.easeInOut"
             data-endspeed="1800"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 4"><a href="javascript:;" class="tp-reg-btn">免费注册</a>
        </div>
        <div class="tp-caption customin"
             data-x="center"
             data-y="bottom"
             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="2600"
             data-easing="Power3.easeInOut"
             data-endspeed="300"
             style="z-index: 5"><img src="/images/top_banner_e01.jpg" alt="">
        </div>
        <div class="tp-caption large_bold_grey skewfromrightshort customout"
             data-x="center" data-hoffset="-380"
             data-y="bottom"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="3000"
             data-easing="Back.easeOut"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             data-captionhidden="on"
             style="z-index: 6"><img src="/images/top_banner_e02.jpg" alt="">
        </div>
        <div class="tp-caption large_bold_grey skewfromleftshort customout"
             data-x="center" data-hoffset="380"
             data-y="bottom"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="3400"
             data-easing="Back.easeOut"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             data-captionhidden="on"
             style="z-index: 7"><img src="/images/top_banner_e03.jpg" alt=""/>
        </div>
      </li>
      <!-- SLIDE  -->
      <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
        <!-- MAIN IMAGE -->
        <img src="/img/banner2.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 2 -->
        <div class="tp-caption mediumlarge_light_white skewfromrightshort customout"
             data-x="400"
             data-y="96"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="800"
             data-easing="Back.easeOut"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             data-captionhidden="on"
             style="z-index: 4">移动办公全系列解决方案
        </div>
      </li>

      <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
        <!-- MAIN IMAGE -->
        <img src="/img/thunder.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
             data-bgrepeat="no-repeat">
        <!-- LAYERS -->
        <!-- LAYER NR. 1 -->
        <div class="tp-caption medium_bg_orange skewfromleftshort customout"
             data-x="right" data-hoffset="-90"
             data-y="bottom" data-voffset="-50"
             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
             data-speed="500"
             data-start="2300"
             data-easing="Back.easeOut"
             data-endspeed="500"
             data-endeasing="Power4.easeIn"
             data-captionhidden="on"
             style="z-index: 21">Customer Rating
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="hope" class="index-lg-block bg-muted">
  <h1>爱客人的愿景</h1>

  <div class="summary">专注、专业、客户至上，已经融入每一个爱客人的血液，融入到产品的每个细节</div>
  <div class="cont product-info">
    <ul>
      <li class="m-r">
        <div>
          <img src="/img/websites.gif" alt=""/>


          <div class="des">
            <h3>专注网站CRM领域</h3>

            <p>我们只专注于销售CRM领域，协助你做好销售团队和销售过程管理，专注于提升你的销售业绩</p>

          </div>

        </div>
      </li>
      <li class="m-l m-r">
        <div>
          <img src="/img/mobile.gif" alt=""/>


          <div class="des">
            <h3>专业的响应式网站交互</h3>

            <p>公司核心团队来自于SaleForce、金蝶、泛微、腾讯等国内外知名的IT企业，在企业应用市场平均具有5年以上的服务经验</p>

          </div>

        </div>
      </li>
      <li class="m-l">
        <div>
          <img src="/img/strategy.gif" alt=""/>


          <div class="des">
            <h3>客户至上的用户体验</h3>

            <p>一个企业要生存、发展、壮大、客户至上不仅仅是挂在嘴边，更多地需要取践行，客户至上的理念不仅仅融入爱客的产品，更是融入到爱客的血液</p>

          </div>

        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>

  <a href="javascript:;" data-scrolld="updatelog"><i class="icon-arrow-down"></i></a>


</div>

<div id="updatelog" class="index-lg-block bg-dark">
  <h1>系统更新日志</h1>

  <div class="summary">每次升级、迭代，每一个细节的完善，都倾注了我们不懈的努力，相信你会感受到那份用心</div>
  <div class="cont log-info">
    <div id="timeline"></div>
    <div class="timeline-date">
      <span>2014.10</span>
      <span class="active">2014.08</span>
      <span class="active">2014.06</span>
      <span class="active">2014.04</span>
      <span class="active">2014.02</span>
      <span>2013.12</span>
    </div>
    <div class="des">
      <img src="/images/update_pro_01.jpg" alt=""/>

      <div class="article">
        <h2>这个是升级项目名</h2>

        <p>
          微信大屏幕，又称微信墙，可以通过大屏幕同步展示现场观众发送的微信消息.
          在展会、会议、培训、年会、沙龙、婚礼、赛事、演出等各类活动聚会中大显身手，
          是活动的新玩法，是微信公众账号的加粉、宣传利器。
        </p>
      </div>
    </div>
  </div>
  <a href="javascript:;" data-scrolld="service"><i class="icon-arrow-down"></i></a>
</div>

<div id="service" class="index-lg-block bg-muted">
  <h1>爱客CRM能做什么</h1>

  <div class="summary">我们始终不忘初心：让企业做销售容易一点点、让销售业绩提升一点点</div>
  <div class="cont service-info">
    <ul>
      <li>
        <div class="top">
          <div class="icon"><i class="icon-profile-male"></i></div>

          <h3>客户管理</h3>
        </div>
        <div class="des">
          爱客CRM，客户资料、客户拜访、回访记录、客户情怀全方面服务，细致入微！
        </div>
      </li>
      <li>
        <div class="top">
          <div class="icon"><i class="icon-presentation"></i></div>

          <h3>团队管控</h3>
        </div>
        <div class="des">
          爱客CRM，销售签到、需求提交、费用核销、授权审批全方位打通，轻松畅通！
        </div>
      </li>
      <li>
        <div class="top">
          <div class="icon"><i class="icon-linegraph"></i></div>

          <h3>提升销售</h3>
        </div>
        <div class="des">
          爱客CRM，从销售线索、沟通、洽谈、签约、到款全流程掌控，游刃有余！
        </div>
      </li>
      <li>
        <div class="top">
          <div class="icon"><i class=" icon-bargraph"></i></div>


          <h3>数据分析</h3>
        </div>
        <div class="des">
          爱客CRM，客户周报、数据统计、业绩分析，企业决策全局把握，运筹帷幄！
        </div>
      </li>
    </ul>
  </div>
  <a href="javascript:;" data-scrolld="fans"><i class="icon-arrow-down"></i></a>
</div>

<div id="fans" class="index-lg-block bg-dark">

  <div class="tp-banner-container">
    <div class="tp-banner" id="fansbanner">
      <ul>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
          <!-- MAIN IMAGE -->
          <img src="/images/transparent.png" alt="slidebg1" data-bgfit="cover"
               data-bgposition="left top"
               data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption mediumlarge_light_white skewfromleft"
               data-x="center"
               data-y="top" data-voffset="70"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1000"
               data-easing="Power3.easeInOut"
               data-endspeed="800"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 1"><h1>我们的忠实粉丝</h1>
          </div>
          <div class="tp-caption skewfromright"
               data-x="center"
               data-y="top" data-voffset="140"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1600"
               data-easing="Power3.easeInOut"
               data-endspeed="800"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 2">
            <div class="summary">他们的新人是对我们最好的鞭策，他们的建议是对我们最大的认可</div>
          </div>
          <div class="tp-caption mediumlarge_light_white skewfromleft"
               data-x="center"
               data-y="180"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="2200"
               data-easing="Power3.easeInOut"
               data-endspeed="800"
               data-endeasing="Power1.easeIn"
               data-captionhidden="off"
               style="z-index: 3">
            <div class="circle"><img src="/images/person_01.jpg" alt="" style="width: 120px;height: 120px"/></div>
          </div>
          <div class="tp-caption medium_light_white customin"
               data-x="center"
               data-y="450"
               data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="2600"
               data-easing="Power3.easeInOut"
               data-endspeed="300"
               style="z-index: 5"><p>"在日常的业务行为中，爱客CRM能够提供更及时高校的消息反馈，移动办公的特<br/>性，提高了公司内部的管理效率，增加了销售的签单量。"</p>
          </div>
          <div class="tp-caption mediumsmall_light_white skewfromrightshort customout"
               data-x="center"
               data-y="560"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="3000"
               data-easing="Back.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on"
               style="z-index: 6">陈小娟
          </div>
          <div class="tp-caption mediumsmall_light_white skewfromleftshort customout"
               data-x="center"
               data-y="600"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="3400"
               data-easing="Back.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on"
               style="z-index: 7">博彦网鼎运营总裁
          </div>
        </li>
        <!-- SLIDE  -->
        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
          <!-- MAIN IMAGE -->
          <img src="/img/banner2.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
               data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 2 -->
          <div class="tp-caption mediumlarge_light_white skewfromrightshort customout"
               data-x="400"
               data-y="96"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="800"
               data-easing="Back.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on"
               style="z-index: 4">移动办公全系列解决方案
          </div>
        </li>

        <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
          <!-- MAIN IMAGE -->
          <img src="/img/thunder.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
               data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER NR. 1 -->
          <div class="tp-caption medium_bg_orange skewfromleftshort customout"
               data-x="right" data-hoffset="-90"
               data-y="bottom" data-voffset="-50"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="2300"
               data-easing="Back.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on"
               style="z-index: 21">Customer Rating
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a href="javascript:;" data-scrolld="friends"><i class="icon-arrow-down"></i></a>
</div>
<div id="friends" class="index-lg-block bg-muted">
  <h1>他们在使用爱客CRM</h1>

  <div class="summary">已有18965+家企业，信任爱客，选择爱客CRM成为他们的日常销售管理工具</div>
  <div class="cont">
    <img src="/images/friednslink/wwd-logo-asw.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-block.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-civmec.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-curtin.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-form.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-hal.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-identitywa.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-iinet.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-lionsclub.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-mainpeak.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-marketforce.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-mideastyouth.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-nulsen.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-proteus.png" alt=""/>
    <img src="/images/friednslink/wwd-logo-wam.png" alt=""/>
  </div>
  <a href="javascript:;" data-scrolld="contact"><i class="icon-arrow-down"></i></a>
</div>
<div id="contact" class="index-lg-block bg-dark">
  <h1>联系我们</h1>

  <div class="summary">全面对接微信，不单单能够通过微信管理你的客户，还可以管理企业内部的销售人员</div>
  <div class="cont contact-info">
    <ul>
      <li>
        <div class="top">
          <div class="icon"><img src="/img/ico_position.png" alt=""/></div>

          <h3>公司地址</h3>
        </div>
        <div class="des">
          上海浦东新区郭守敬路498弄浦东软件园22号3楼
        </div>
      </li>
      <li>
        <div class="top">
          <div class="icon"><img src="/img/ico_phone.png" alt=""/></div>

          <h3>联系电话</h3>
        </div>
        <div class="des">
          400-120-8888
        </div>
      </li>
      <li>
        <div class="top">
          <div class="icon"><img src="/img/ico_mail.png" alt=""/></div>

          <h3>邮箱</h3>
        </div>
        <div class="des">
          contact@vcooline.com
        </div>
      </li>
    </ul>
  </div>
  <a href="javascript:;" data-scrolld="friends"><i class="icon-arrow-up"></i></a>
</div>
<script>
  $('[data-scrolld]').scrolld({
    speed: 500,
    offset: -66,
    easing: 'scrolldEasing'
  });

  jQuery(document).ready(function () {
    jQuery('#topbanner').revolution({
      delay: 5000,
      startwidth: 1170,
      startheight: 700,
      hideThumbs: 10
    });
    jQuery('#fansbanner').revolution({
      delay: 5000,
      startwidth: 1170,
      startheight: 700,
      hideThumbs: 10
    });

    var $slider = $('#timeline');

    $slider.noUiSlider({
      start: [1, 4],
      step: 1,
      connect: true,
      direction: 'ltr',
      orientation: 'horizontal',
      behaviour: 'snap',
      range: {
        'min': 0,
        'max': 5
      },
      serialization: {
//                lower: [
//                    $.Link({
//                        target: $("#value-input")
//                    })
//                ],
//                upper: [
//                    $.Link({
//                        target: $("#value-span"),
//                        method: "html"
//                    })
//                ],
        format: {
          mark: '.',
          decimals: 0
        }
      }
    });
    $slider.on('slide', function () {
      var dates = $('.timeline-date').children('span');
      dates.not(dates.slice($slider.val()[0], Number($slider.val()[1]) + 1).addClass('active')).removeClass('active');
    })
  });
</script>