<div class="tp-banner-container">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                <!-- MAIN IMAGE -->
                <img src="../img/lj0602bz28.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption medium_bg_orange skewfromleftshort customout"
                     data-x="right" data-hoffset="-90"
                     data-y="bottom" data-voffset="-50"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2300"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="on"
                     style="z-index: 1">Customer Rating
                </div>
                <div class="tp-caption mediumlarge_light_white skewfromleft"
                     data-x="400"
                     data-y="26"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-endspeed="800"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 2">移动办公全系列解决方案
                </div>
                <div class="tp-caption skewfromright"
                     data-x="200"
                     data-y="60"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-endspeed="800"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 3"><span style="font-size:20px;color: #ffffff; ">全面对接微信，不单单能够通过微信管理你的客户，还可以管理企业内部的销售人员</span>
                </div>
                <div class="tp-caption mediumlarge_light_white skewfromleft"
                     data-x="400"
                     data-y="86"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-endspeed="800"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 4">爱客移动端 全选上线
                </div>
                <div class="tp-caption mediumlarge_light_white skewfromleft"
                     data-x="400"
                     data-y="116"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="1000"
                     data-easing="Power3.easeInOut"
                     data-endspeed="800"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="off"
                     style="z-index: 5"><a href="javascript:;">免费注册</a>
                </div>

            </li>
            <!-- SLIDE  -->
            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="../img/lj0602bz37.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 2 -->
                <div class="tp-caption mediumlarge_light_white skewfromrightshort customout"
                     data-x="400"
                     data-y="96"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="800"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4">移动办公全系列解决方案
                </div>
            </li>

            <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="../img/thunder.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
                     data-bgrepeat="no-repeat">
                <!-- LAYERS -->
                <!-- LAYER NR. 1 -->
                <div class="tp-caption medium_bg_orange skewfromleftshort customout"
                     data-x="right" data-hoffset="-90"
                     data-y="bottom" data-voffset="-50"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="500"
                     data-start="2300"
                     data-easing="Back.easeOut"
                     data-endspeed="500"
                     data-endeasing="Power4.easeIn"
                     data-captionhidden="on"
                     style="z-index: 21">Customer Rating
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="hope" class="index-lg-block bg-muted">
    <h1>爱客人的远景</h1>

    <div class="summary">专注、专业、客户至上，已经融入每一个爱客人的血液，融入到产品的每个细节</div>
    <div class="cont product-info">
        <ul>
            <li class="m-r">
                <div>
                    <div class="img c-l1"><img src="" alt=""/></div>


                    <div class="des">
                        <h3>专注网站CRM领域</h3>

                        <p>我们只专注于销售CRM领域，协助你做好销售团队和销售过程管理，专注于提升你的销售业绩</p>

                    </div>

                </div>
            </li>
            <li class="m-l m-r">
                <div>
                    <div class="img c-l2"><img src="" alt=""/></div>


                    <div class="des">
                        <h3>专注网站CRM领域</h3>

                        <p>我们只专注于销售CRM领域，协助你做好销售团队和销售过程管理，专注于提升你的销售业绩</p>

                    </div>

                </div>
            </li>
            <li class="m-l">
                <div>
                    <div class="img c-l3"><img src="" alt=""/></div>


                    <div class="des">
                        <h3>专注网站CRM领域</h3>

                        <p>我们只专注于销售CRM领域，协助你做好销售团队和销售过程管理，专注于提升你的销售业绩</p>

                    </div>

                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>
<div id="updatelog" class="index-lg-block bg-dark">
    <h1>系统更新日志</h1>

    <div class="summary">每次升级、迭代，每一个细节的完善，都倾注了我们不懈的努力，相信你会感受到那份用心</div>
    <div class="cont log-info">
        <div id="timeline"></div>
        <div class="timeline-date">
            <span>2014.10</span>
            <span class="active">2014.08</span>
            <span class="active">2014.06</span>
            <span class="active">2014.04</span>
            <span class="active">2014.02</span>
            <span>2013.12</span>
        </div>
        <div class="des">
            <div class="img"></div>
            <div class="article">
                <h2>这个是升级项目名</h2>

                <p>
                    微信大屏幕，又称微信墙，可以通过大屏幕同步展示现场观众发送的微信消息.
                    在展会、会议、培训、年会、沙龙、婚礼、赛事、演出等各类活动聚会中大显身手，
                    是活动的新玩法，是微信公众账号的加粉、宣传利器。
                </p>
            </div>
        </div>
    </div>
</div>

<div id="service" class="index-lg-block bg-muted">
    <h1>爱客CRM能做什么</h1>

    <div class="summary">我们始终不忘初心：让企业做销售容易一点点、让销售业绩提升一点点</div>
    <div class="cont service-info">
        <ul>
            <li>
                <div class="top">
                    <span><i class="fa fa-user"></i></span>

                    <div class="title">客户管理</div>
                </div>
                <div class="des">
                    爱客CRM，客户资料、客户拜访、回访记录、客户情怀全方面服务，细致入微！
                </div>
            </li>
            <li>
                <div class="top">
                    <span><i class="fa fa-user"></i></span>

                    <div class="title">团队管控</div>
                </div>
                <div class="des">
                   爱客CRM，销售签到、需求提交、费用核销、授权审批全方位打通，轻松畅通！
                </div>
            </li>
            <li>
                <div class="top">
                    <span><i class="fa fa-user"></i></span>

                    <div class="title">提升销售</div>
                </div>
                <div class="des">
                    爱客CRM，从销售线索、沟通、洽谈、签约、到款全流程掌控，游刃有余！
                </div>
            </li>
            <li>
                <div class="top">
                    <span><i class="fa fa-user"></i></span>


                    <div class="title">数据分析</div>
                </div>
                <div class="des">
                    爱客CRM，客户周报、数据统计、业绩分析，企业决策全局把握，运筹帷幄！
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    jQuery(document).ready(function () {
        jQuery('.tp-banner').revolution({
            delay: 5000,
            startwidth: 1170,
            startheight: 500,
            hideThumbs: 10,
            fullWidth: 'on',
            forceFullWidth: 'on'
        });
        $("#timeline").noUiSlider({
            start: [10, 40],
            step: 10,
            connect: true,
            direction: 'rtl',
            orientation: 'horizontal',
            behaviour: 'tap-drag',
            range: {
                'min': 0,
                'max': 50
            },
            serialization: {
//                lower: [
//                    $.Link({
//                        target: $("#value-input")
//                    })
//                ],
//                upper: [
//                    $.Link({
//                        target: $("#value-span"),
//                        method: "html"
//                    })
//                ],
                format: {
                    mark: ',',
                    decimals: 1
                }
            }
        });
    });
</script>