<div class="g_bg1">
  <div class="g_cont ">
    <div class="clearfix g_downcont">
      <span class=" pull-left g_downcont_left"><img src="/img/g_p1.png"/> </span>

      <div class="pull-left">
        <div class="g_down_txt1">
          <h6>爱客移动版</h6>

          <p>放心的出门，一切尽在掌握。</p>
        </div>
        <div class="clearfix g_downbox1 ">
          <div class="pull-left g_downbtn">
            <a href="#"><img src="/img/g_down1.png"/></a>
            <a href="#"><img src="/img/g_down2.png"/></a>
          </div>
          <div class="pull-right"><img src="/img/g_ewm1.png"/></div>
        </div>
      </div>
    </div>
  </div>
</div>


