<div class="top-banner">
  <img src="" alt=""/>

  <h2>全面对接<strong>社会化媒体</strong></h2>
  <span>对外管理客户不流失，对内管理员工更高效</span>
</div>

<div id="recruit-block">
  <div class="cont">
    <h1>招贤纳士</h1>
    <h4 >用户数据安全是云软件厂商的生命线。爱客CRM正在全方位保护客户企业的信息安全。</h4>

    <div class="item">
      <i class="icon-profile-male"></i>

      <div class="info">
        <h2>产品经理</h2>

        <div>
          <h4>岗位职责</h4>
          <ul>
            <li>1、结合用户需求和产品技术架构，完成新产品/功能的概念设计和原型展示；</li>
            <li>2、编写“功能定义、用户界面、交互设计”等需求文档；</li>
            <li>3、协调指导UI/UE，完成产品页面设计及用户体验设计；</li>
            <li>4、产品需求管理工作，版本迭代管理；</li>
            <li>5、分析项目、用户需求，分析竞争对手动态和市场动态。</li>
          </ul>
        </div>
        <div>
          <h4>任职要求</h4>
          <ul>
            <li>1、统招本科学历，熟悉IOS、Android等移动客户端产品；</li>
            <li>2、基于产品角度，对各平台特点有相当认识；</li>
            <li>3、对UI、UE有出色的经验积累，熟悉目前主流产品特点；</li>
            <li>4、较强的项目管理及人员协调能力，能够高效地协调人力、物力推动产品开发上线；</li>
            <li>5、具有较强的逻辑思维能力，思路清晰、条理清楚。</li>
          </ul>
        </div>
        <h4>招聘人数：23</h4>
      </div>
    </div>
    <div class="item">
      <i class="icon-profile-male"></i>

      <div class="info">
        <h2>产品经理</h2>

        <div>
          <h4>岗位职责</h4>
          <ul>
            <li>1、结合用户需求和产品技术架构，完成新产品/功能的概念设计和原型展示；</li>
            <li>2、编写“功能定义、用户界面、交互设计”等需求文档；</li>
            <li>3、协调指导UI/UE，完成产品页面设计及用户体验设计；</li>
            <li>4、产品需求管理工作，版本迭代管理；</li>
            <li>5、分析项目、用户需求，分析竞争对手动态和市场动态。</li>
          </ul>
        </div>
        <div>
          <h4>任职要求</h4>
          <ul>
            <li>1、统招本科学历，熟悉IOS、Android等移动客户端产品；</li>
            <li>2、基于产品角度，对各平台特点有相当认识；</li>
            <li>3、对UI、UE有出色的经验积累，熟悉目前主流产品特点；</li>
            <li>4、较强的项目管理及人员协调能力，能够高效地协调人力、物力推动产品开发上线；</li>
            <li>5、具有较强的逻辑思维能力，思路清晰、条理清楚。</li>

          </ul>
        </div>
        <h4>招聘人数：23</h4>


      </div>


    </div>
    <div class="item">
      <i class="icon-profile-male"></i>

      <div class="info">
        <h2>产品经理</h2>

        <div>
          <h4>岗位职责</h4>
          <ul>
            <li>1、结合用户需求和产品技术架构，完成新产品/功能的概念设计和原型展示；</li>
            <li>2、编写“功能定义、用户界面、交互设计”等需求文档；</li>
            <li>3、协调指导UI/UE，完成产品页面设计及用户体验设计；</li>
            <li>4、产品需求管理工作，版本迭代管理；</li>
            <li>5、分析项目、用户需求，分析竞争对手动态和市场动态。</li>
          </ul>
        </div>
        <div>
          <h4>任职要求</h4>
          <ul>
            <li>1、统招本科学历，熟悉IOS、Android等移动客户端产品；</li>
            <li>2、基于产品角度，对各平台特点有相当认识；</li>
            <li>3、对UI、UE有出色的经验积累，熟悉目前主流产品特点；</li>
            <li>4、较强的项目管理及人员协调能力，能够高效地协调人力、物力推动产品开发上线；</li>
            <li>5、具有较强的逻辑思维能力，思路清晰、条理清楚。</li>

          </ul>
        </div>
        <h4>招聘人数：23</h4>


      </div>


    </div>

  </div>

  <% include partials/about-aside %>
</div>
