<div class="top-banner">
  <img src="" alt=""/>

  <h2>全面对接<strong>社会化媒体</strong></h2>
  <span>对外管理客户不流失，对内管理员工更高效</span>
</div>

<div class="reports-block">
  <h2>关注行业领先</h2>
  <h4 class="text-muted">用户数据安全是云软件厂商的生命线。爱客CRM正在全方位保护客户企业的信息安全。</h4>
  <ul>
    <li>
      <a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>机房物理安全</h3>

        <p class="text-muted">
          数据安全首先是存放数据的服务器在物理上的安全。一旦服务器发生故障丢失数据会给企业....
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>设备持续服务能力</h3>

        <p class="text-muted">
          公司核心团队来自于SaleForce、金蝶、泛微、腾讯等国内外知名的IT企业，在企业应用市场平均具有5年以上的服务经验
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>
      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>充分的灾备措施</h3>

        <p class="text-muted">
          一个企业要生存、发展、壮大、客户至上不仅仅是挂在嘴边，更多地需要取践行，客户至上的理念不仅仅融入爱客的产品，更是融入到爱客的血液
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>

    </li>
    <li>
      <a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>机房物理安全</h3>

        <p class="text-muted">
          数据安全首先是存放数据的服务器在物理上的安全。一旦服务器发生故障丢失数据会给企业....
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>设备持续服务能力</h3>

        <p class="text-muted">
          公司核心团队来自于SaleForce、金蝶、泛微、腾讯等国内外知名的IT企业，在企业应用市场平均具有5年以上的服务经验
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>
      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>充分的灾备措施</h3>

        <p class="text-muted">
          一个企业要生存、发展、壮大、客户至上不仅仅是挂在嘴边，更多地需要取践行，客户至上的理念不仅仅融入爱客的产品，更是融入到爱客的血液
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>

    </li>
    <li>
      <a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>机房物理安全</h3>

        <p class="text-muted">
          数据安全首先是存放数据的服务器在物理上的安全。一旦服务器发生故障丢失数据会给企业....
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>设备持续服务能力</h3>

        <p class="text-muted">
          公司核心团队来自于SaleForce、金蝶、泛微、腾讯等国内外知名的IT企业，在企业应用市场平均具有5年以上的服务经验
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>
      </div>
    </li>
    <li><a href="javascript:;"><img src="" alt=""/></a>

      <div class="cont">
        <h3>充分的灾备措施</h3>

        <p class="text-muted">
          一个企业要生存、发展、壮大、客户至上不仅仅是挂在嘴边，更多地需要取践行，客户至上的理念不仅仅融入爱客的产品，更是融入到爱客的血液
        </p>
        <a href="javascript:;">查看详情<i class="fa fa-arrow-right"></i></a>

      </div>

    </li>
  </ul>
</div>