<% include partials/top-banner %>

<div id="safe-block">
  <div class="cont">
    <h1>选择爱客CRM的6大理由</h1>
    <h4>用户数据安全是云软件厂商的生命线。爱客CRM正在全方位保护客户企业的信息安全。</h4>

    <div class="item">
      <img src="/images/securityima1.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>机房物理安全</h3>

        <p>数据安全首先是存放数据的服务器在物理上的安全。一旦服务器发生故障、丢失数据会给企业带来巨大损失。
          而爱客CRM软件，采用高性能服务器冰托管在电信5星级机房，保障数据随时完整可用。</p>

        <p>电信5星级机房：电信级机房比企业的普通服务器机房具备更高的可用性和抗灾能力。</p>

        <p>机房安全制度：IDC机房对进出人员进行严格管理，配备了门禁系统，严格验证进入人员身份，保证机房空间的安全性。</p>

        <p>机房保护措施：数据中心配备专业的保安员7*24小时在岗，随时巡视。机房进行24小时安全监控，机房内部的所有活动均有摄像记录。</p>

      </div>
    </div>

    <div class="item">
      <img src="/images/securityima2.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>设备持续服务能力</h3>

          <p>服务器集群：服务器采用分布式集群，所有设备通过多重冗余和互为备份的方式保证高可用性。</p>
          <p>监控服务器自动巡查：爱客监控服务器随时监控爱客环境，循环检查每台服务器的情况，提前发现异常并自动进行处理，同时自动短信、邮件提醒系统维护人员。同时，监控服务器也有冗余，两台监控服务器互相检查、互为备份。</p>
          <p>双线网络方案：IDC机房采用双线网络方案，配备联通及电信专用光纤接入，保障南方、北方以及海外用户均可高速访问爱客服务器。</p>
          <p>备份电力：电信级机房采用多路市政电力接入及应急电力方案保障服务器持续供电。</p>
          <p>UPS电池组：保障服务器不会由于任何原因突然掉电，造成服务器损坏或丢失正在写入的数据。</p>

      </div>
    </div>

    <div class="item">
      <img src="/images/securityima3.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>充分的灾备措施</h3>

        <p>为保障客户数据永不丢失并能7x24小时不间断运作，爱客通过更多服务器相互备份和异地备份的方式每天凌晨在多个地理位置留下加密的数据备份。</p>

        <p>数据归档和导出服务：爱客系统支持客户数据的批量导出及报表输出等功能，可以确保客户数据最高的灵活度。
        </p>

      </div>
    </div>

    <div class="item">
      <img src="/images/securityima4.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>网络传输安全</h3>

        <p>爱客网站采用赛门铁克（Symantec，信息安全领域全球领先的解决方案提供商）的威瑞信</p>

        <p>（VeriSign）128位强制增强型（EV）服务器证书对传输信息进行加密处理。93%的全球财富500
          强企业及97%的世界百大银行与爱客网站使用同样的增强型加密证书。除了加密功能，该国际证书也是对爱客网站安全性的认可。。</p>

        <p>同时，作为第三方安全认证机构，VeriSign的合作伙伴每天不间断地扫描爱客网站的安全状态，主动发现网站应用部署中的各种隐患并通知爱客。</p>

        <p>通过部署电信级防火墙，加上优异的系统架构设计，多层数据和参数传送处理以防止跨站脚本和Sql注入攻击。</p>

      </div>
    </div>

    <div class="item">
      <img src="/images/securityima5.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>数据使用流程制度</h3>

        <p>爱客对数据使用流程制定了严格、甚至可以说是苛刻的制度。只有公司技术负责人才可以掌握生产服务器及业务数据库密码。</p>

        <p>对数据的维护操作，必须由公司技术负责人执行，其他开发团队、维护团队不能独立接触到真实客户数据。</p>

        <p>各个企业的数据库是各自独立的，即使客户企业的员工发生严重的操作错误，也不会通过爱客系统将一个企业的信息传递到另一个企业。</p>

        <p>爱客服务购买合同中包括数据保密条款，爱客主动承担保密的法律和经济责任。</p>

        <p>购买合同中对客户导出数据的流程同样有严格审核规定，保障客户企业数据安全。</p>
      </div>
    </div>

    <div class="item">
      <img src="/images/securityima6.jpg" alt=""/>

      <div class="info">
        <h3><i class="icon-arrow-down-right"></i>云服务趋势</h3>

        <p>
          中国网上支付的用户已经突破2亿人，就像人们当年逐渐接受把钱存到银行一样，使用互联网上的云服务已经是一个趋势。目前国外企业已经有70%在使用云软件，广泛被使用的QQ、企业邮箱其实大部分也都是服务器不在您企业自有机房的云软件。</p>

        <p>爱客云软件让您的企业只需专心使用！</p>
      </div>
    </div>


  </div>

  <% include partials/about-aside %>
</div>
