@color-white: #fff;
@color-primary: #00b998;
@color-dark: #323a47;
@color-muted: #6c6c6c;

@bg-dark: #323a47;
@bg-muted: #f9f9f9;
html {
  overflow-x: hidden;
}

body {
  font-family: "Helvetica Neue", "微软雅黑", Helvetica, Arial, sans-serif;
  color: @color-dark;
}

/*clear*/
.after-clear {
  content: "";
  clear: both;
  display: block;
}

/*visual*/
.block {
  display: block;
}

.bg-muted {
  background-color: @bg-muted;
}

.bg-dark {
  background-color: @bg-dark;
}

.transition(@property:all,@duration:150ms,@timing-function:ease,@delay:0ms) {
  -webkit-transition: @property @duration @timing-function @delay;
  -moz-transition: @property @duration @timing-function @delay;
  -ms-transition: @property @duration @timing-function @delay;
  -o-transition: @property @duration @timing-function @delay;
  transition: @property @duration @timing-function @delay;
}

/*position*/
.p-t(@px:15px) {
  padding-top: @px;
}

.p-t-xs {
  .p-t(5px)
}

.p-t-s {
  .p-t(10px)
}

.p-t-lg {
  .p-t(20px)
}

.p-t-x-lg {
  .p-t(25px)
}

.p-l(@px:15px) {
  padding-left: @px;
}

.p-l {
  .p-l;
}

.p-l-xs {
  .p-l(5px)
}

.p-l-s {
  .p-l(10px)
}

.p-l-lg {
  .p-l(20px)
}

.p-l-x-lg {
  .p-l(25px)
}

.p-r(@px:15px) {
  padding-right: @px;
}

.p-r {
  .p-r;
}

.p-r-xs {
  .p-r(5px)
}

.p-r-s {
  .p-r(10px)
}

.p-r-lg {
  .p-r(20px)
}

.p-r-x-lg {
  .p-r(25px)
}

.p-b(@px:15px) {
  padding-bottom: @px;
}

.p-b {
  .p-b;
}

.p-b-xs {
  .p-b(5px)
}

.p-b-s {
  .p-b(10px)
}

.p-b-lg {
  .p-b(20px)
}

.p-b-x-lg {
  .p-b(25px)
}

.m-t(@px:15px) {
  margin-top: @px;

}

.m-t {
  .m-t;
}

.m-t-xs {
  .m-t(5px)
}

.m-t-s {
  .m-t(10px)
}

.m-t-lg {
  .m-t(20px)
}

.m-t-x-lg {
  .m-t(25px)
}

.m-l(@px:15px) {
  margin-left: @px;
}

.m-l {
  .m-l;
}

.m-l-xs {
  .m-l(5px)
}

.m-l-s {
  .m-l(10px)
}

.m-l-lg {
  .m-l(20px)
}

.m-l-x-lg {
  .m-l(25px)
}

.m-b(@px:15px) {
  margin-bottom: @px;

}

.m-b {
  .m-b;
}

.m-b-xs {
  .m-b(5px)
}

.m-b-s {
  .m-b(10px)
}

.m-b-lg {
  .m-b(20px)
}

.m-b-x-lg {
  .m-b(25px)
}

.m-r(@px:15px) {
  margin-right: @px;

}

.m-r {
  .m-r;
}

.m-r-xs {
  .m-r(5px)
}

.m-r-s {
  .m-r(10px)
}

.m-r-lg {
  .m-r(20px)
}

.m-r-x-lg {
  .m-r(25px)
}

.li-nonestyle {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*tap*/
.tparrows i {
  font-size: 70px;
  color: darken(@color-white, 15%);
  &:hover {
    color: @color-white;
  }
}
a.tp-reg-btn{
  border: 1px solid @color-white;
  padding: 8px 12px;
  color: @color-white;
  background-color: transparent;
  border-radius: 2px;
  &:hover {
    color: @color-primary;
    border-color: @color-primary;
  }
}

.simplebullets .bullet i {
  font-size: 10px;
  color: darken(@color-white, 15%);
  &:hover {
    color: @color-white;
  }
}

ul {
  .li-nonestyle
}

.text-primary {
  color: #00b998;
}

.text-dark {
  color: @color-dark;
}

.text-white {
  color: #fff;
}

.header, .footer {
  text-align: center;
  width: 960px;
  margin: 0 auto;
}

.header {
  .p-t-lg;
  background-color: @color-white;
  position: relative;
  .brand-logo {
    width: 118px;
    height: 56px;
    float: left;
    .m-b
  }
  .nav {
    display: inline-block;
    .m-t;
    li {
      float: left;
    }
    a {
      .text-dark;
      margin: 30px;
      font-size: 18px;
      padding: 12px 0;
      &:hover, &.active {
        .text-primary;
        border-bottom: 2px solid @color-primary;
        text-decoration: none;
      }
    }
  }
  .tools {
    right: 0;
    top: 35px;
    position: absolute;
    ul {
      float: right;
    }
    li {
      float: left;
    }
    a {
      .text-primary;
      height: 26px;
      line-height: 26px;
      border-radius: 2px;
      padding: 4px 8px;
      &:hover {
        .text-white;
        background-color: @color-primary;
        text-decoration: none;
      }
    }
  }
}

.main {
  min-height: 200px;
  margin-bottom: 60px;
  &:after {
    .after-clear
  }
}

.footer {
  position: relative;
  text-align: center;
  div {
    ul {
      overflow: hidden;
    }
    li {
      float: left;
      a {
        margin: 0 10px;
        border: 1px solid @color-dark;
        width: 100px;
        height: 100px;
        line-height: 120px;
        border-radius: 50%;
        //    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.6), 0 0 0 1px rgba(0, 0, 0, 1);
        box-sizing: border-box;
        float: left;
        color: @color-dark;
        i {
          font-size: 40px;
        }
        &:hover {
          border: 1px solid @color-primary;
          background-color: @color-primary;
          color: @color-white;
        }
      }
    }
  }
  .sns {
    display: inline-block;
  }
  .t1, .t2 {
    position: absolute;
    display: inline;
    font-size: 22px;
    top: 30px;
  }
  .t1 {
    left: 0;
  }
  .t2 {
    right: 0;
  }
  .copyright {
    .m-t;
    .m-b-x-lg;
    .block;
    color: @color-muted;
  }
}

/*index page*/

@temp-blue: #92afd0;
.index-lg-block {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
  &.bg-dark {
    h1 {
      color: @color-white;
    }
    .summary {
      color: @temp-blue;

    }
    &:after, &:before {
      .bg-dark;
    }

  }

  &::before, &::after {
    content: "";
    position: absolute;
    .bg-muted;
    top: 0;
    bottom: 0;
    width: 9999px;

  }
  &::before {
    right: 100%;

  }
  &::after {
    left: 100%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 24px;
  }
  .summary {
    margin-bottom: 24px;
    font-size: 16px;
    color: @color-muted;
  }
  .cont {
    min-height: 20px;
    ul li {
      float: left;
    }
  }
  .product-info {
    ul li {
      box-shadow: 0 4px 2px #aaaaaa;
      width: 300px;
      img {
        width: 100%;

      }
      .des {
        background-color: @color-white;
        padding: 16px 16px;
        h3 {
          text-align: left;
          margin-top: 0;
        }
        p {
          text-align: left;
          font-size: 13px;
          color: @color-muted;
        }
      }
    }
  }
}

#updatelog {

  .log-info {
    #timeline, .des {
      width: 84%;
      margin: 0 auto;
    }
    .timeline-date {
      span {
        display: block;
        width: 16.666666%;
        color: @temp-blue;
        float: left;
        margin-top: 15px;
        &.active {
          color: lighten(@color-primary, 15%);
        }
      }
      &:after {
        .after-clear
      }
    }
    .des {
      img {
        width: 200px;
        height: 200px;
        margin-right: 20px;
        float: left;
      }
      .article {
        text-align: left;
        color: @color-white;
        h2 {
          margin-bottom: 30px;
        }
        p {
          font-size: 16px;
          letter-spacing: 1px;

        }
      }
      &:after {
        .after-clear
      }
    }
  }
}

#service .service-info {
  li {
    width: 25%;
    padding: 0 16px;
    .top {
      .icon {
        height: 200px;
        width: 200px;
        line-height: 250px;
        border-radius: 50%;
        border: 1px solid lighten(@color-muted, 45%);
        color: @color-primary;
        .transition(all, 100ms, ease-out, 0s);
        i {
          font-size: 70px;
        }
      }
      h3 {
        color: @color-muted;
      }
    }
    .des {
      color: @color-muted;
      font-size: 13px;
      text-align: left;
      letter-spacing: 1px;
    }
    &:hover {
      .top {
        .icon {
          background-color: @color-primary;
          color: @color-white;
        }
        h3 {
          color: @color-primary;
        }

      }
      .des {
        color: @color-dark;
      }
    }
  }
  &:after {
    .after-clear
  }
}

#contact {
  &:after, &:before {
    .bg-dark;
  }
  color: @color-white;
  .summary {
    color: @temp-blue;
  }
  .contact-info {
    li {
      width: 33.33333333%;
      padding: 0 16px;

      .top {

        .icon {
          height: 200px;
          width: 200px;
          line-height: 200px;
          border-radius: 50%;
          background-color: #4e637d;
          margin: 0 auto;
          .transition(all, 100ms, ease-out, 0s);
          i {
            font-size: 100px;
          }
        }
      }
      .des {
        letter-spacing: 1px;
        font-size: 16px;
      }
      &:hover {
        .des {
          color: @color-primary;
        }
      }
    }
    &:after {
      .after-clear
    }
  }
}

