.m-t-xs {
  background: xs;
}
.m-t-s {
  background: s;
}
.m-t-m {
  background: m;
}
.m-t-l {
  background: l;
}
.m-t-xl {
  background: xl;
}
.m-r-xs {
  background: xs;
}
.m-r-s {
  background: s;
}
.m-r-m {
  background: m;
}
.m-r-l {
  background: l;
}
.m-r-xl {
  background: xl;
}
.m-b-xs {
  background: xs;
}
.m-b-s {
  background: s;
}
.m-b-m {
  background: m;
}
.m-b-l {
  background: l;
}
.m-b-xl {
  background: xl;
}
.m-l-xs {
  background: xs;
}
.m-l-s {
  background: s;
}
.m-l-m {
  background: m;
}
.m-l-l {
  background: l;
}
.m-l-xl {
  background: xl;
}
.p-t-xs {
  background: t;
}
.p-t-s {
  background: t;
}
.p-t-m {
  background: t;
}
.p-t-l {
  background: t;
}
.p-t-xl {
  background: t;
}
.p-r-xs {
  background: r;
}
.p-r-s {
  background: r;
}
.p-r-m {
  background: r;
}
.p-r-l {
  background: r;
}
.p-r-xl {
  background: r;
}
.p-b-xs {
  background: b;
}
.p-b-s {
  background: b;
}
.p-b-m {
  background: b;
}
.p-b-l {
  background: b;
}
.p-b-xl {
  background: b;
}
.p-l-xs {
  background: l;
}
.p-l-s {
  background: l;
}
.p-l-m {
  background: l;
}
.p-l-l {
  background: l;
}
.p-l-xl {
  background: l;
}
html {
  overflow-x: hidden;
}
body {
  font-family: "Helvetica Neue", "微软雅黑", Helvetica, Arial, sans-serif;
  color: #323a47;
}
/*clear*/
.after-clear:after {
  content: "";
  clear: both;
  display: block;
}
/*visual*/
.text-hot {
  color: #e96264;
}
.block {
  display: block;
}
.bg-primary {
  background-color: #00b998;
}
.bg-muted {
  background-color: #f9f9f9;
}
.bg-dark {
  background-color: #323a47;
}
.column-1 {
  width: 25%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 75%;
}
.column-4 {
  width: 100%;
}
/*position*/
.p-t-xs {
  padding-top: 5px;
}
.p-t-s {
  padding-top: 10px;
}
.p-t-lg {
  padding-top: 20px;
}
.p-t-xlg {
  padding-top: 25px;
}
.p-l {
  padding-left: 15px;
}
.p-l-xs {
  padding-left: 5px;
}
.p-l-s {
  padding-left: 10px;
}
.p-l-lg {
  padding-left: 20px;
}
.p-l-xlg {
  padding-left: 25px;
}
.p-r {
  padding-right: 15px;
}
.p-r-xs {
  padding-right: 5px;
}
.p-r-s {
  padding-right: 10px;
}
.p-r-lg {
  padding-right: 20px;
}
.p-r-xlg {
  padding-right: 25px;
}
.p-b {
  padding-bottom: 15px;
}
.p-b-xs {
  padding-bottom: 5px;
}
.p-b-s {
  padding-bottom: 10px;
}
.p-b-lg {
  padding-bottom: 20px;
}
.p-b-xlg {
  padding-bottom: 25px;
}
.m-t {
  margin-top: 15px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-s {
  margin-top: 10px;
}
.m-t-lg {
  margin-top: 20px;
}
.m-t-xlg {
  margin-top: 25px;
}
.m-l {
  margin-left: 15px;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-s {
  margin-left: 10px;
}
.m-l-lg {
  margin-left: 20px;
}
.m-l-xlg {
  margin-left: 25px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-s {
  margin-bottom: 10px;
}
.m-b-lg {
  margin-bottom: 20px;
}
.m-b-xlg {
  margin-bottom: 25px;
}
.m-r {
  margin-right: 15px;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-s {
  margin-right: 10px;
}
.m-r-lg {
  margin-right: 20px;
}
.m-r-xlg {
  margin-right: 25px;
}
.li-nonestyle {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*tap*/
.tparrows i {
  font-size: 70px;
  color: #d9d9d9;
}
.tparrows i:hover {
  color: #ffffff;
}
a.tp-reg-btn {
  border: 1px solid #ffffff;
  padding: 8px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 2px;
  display: block;
  font-size: 24px;
}
a.tp-reg-btn:hover {
  color: #00b998;
  border-color: #00b998;
}
.simplebullets .bullet i {
  font-size: 10px;
  color: #d9d9d9;
}
.simplebullets .bullet i:hover {
  color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul:after {
  content: "";
  clear: both;
  display: block;
}
.text-primary {
  color: #00b998;
}
.text-dark {
  color: #323a47;
}
.text-white {
  color: #fff;
}
.header,
.footer {
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}
.header {
  padding-top: 20px;
  z-index: 55;
  background-color: #ffffff;
  position: fixed;
  text-align: center;
  width: 100%;
  transition: all 250ms ease-in-out;
}
.header .cont {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.header .brand-logo {
  width: 118px;
  height: 56px;
  float: left;
  margin-bottom: 15px;
}
.header .nav {
  display: inline-block;
  margin-top: 15px;
  margin-left: -60px;
}
.header .nav li {
  float: left;
}
.header .nav a {
  color: #323a47;
  margin: 30px;
  font-size: 18px;
  padding: 12px 0;
}
.header .nav a:hover,
.header .nav a.active {
  color: #00b998;
  border-bottom: 2px solid #00b998;
  text-decoration: none;
}
.header .tools {
  right: 0;
  top: 15px;
  position: absolute;
}
.header .tools ul {
  float: right;
}
.header .tools li {
  float: left;
}
.header .tools a {
  color: #00b998;
  height: 26px;
  line-height: 26px;
  border-radius: 2px;
  padding: 4px 8px;
}
.header .tools a:hover {
  color: #fff;
  background-color: #00b998;
  text-decoration: none;
}
.header.scroll {
  background-color: rgba(255, 255, 255, 0.93);
  padding-top: 5px;
  box-shadow: 0 0 4px #d9d9d9;
}
.header.scroll .brand-logo {
  margin-bottom: 5px;
}
.main {
  min-height: 200px;
  padding-bottom: 60px;
  padding-top: 92px;
  background-color: #f9f9f9;
}
.main:after {
  content: "";
  clear: both;
  display: block;
}
.footer {
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.footer div ul {
  overflow: hidden;
}
.footer div li {
  float: left;
}
.footer div li a {
  margin: 0 10px;
  border: 1px solid #323a47;
  width: 100px;
  height: 100px;
  line-height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  float: left;
  color: #323a47;
}
.footer div li a i {
  font-size: 40px;
}
.footer div li a:hover {
  border: 1px solid #00b998;
  background-color: #00b998;
  color: #ffffff;
  text-decoration: none;
}
.footer .sns {
  display: inline-block;
}
.footer .t1,
.footer .t2 {
  position: absolute;
  display: inline;
  font-size: 22px;
  top: 50px;
}
.footer .t1 {
  left: 0;
}
.footer .t2 {
  right: 0;
}
.footer .copyright {
  margin-top: 15px;
  margin-bottom: 25px;
  display: block;
  color: #6c6c6c;
}
.footer.bg-dark {
  color: #ffffff;
}
.footer.bg-dark div li a {
  border: 1px solid #ffffff;
  color: #ffffff;
}
.footer.bg-dark div li a:hover {
  border: 1px solid #00b998;
  background-color: #00b998;
  color: #ffffff;
}
.footer.bg-dark .copyright {
  color: #ffffff;
}
.footer.bg-dark:before,
.footer.bg-dark:after {
  background-color: #323a47;
}
.footer.bg-dark::before,
.footer.bg-dark::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.footer.bg-dark::before {
  right: 100%;
}
.footer.bg-dark::after {
  left: 100%;
}
/*index page*/
.index-lg-block {
  width: 960px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 100px;
  height: 700px;
}
.index-lg-block.bg-dark h1 {
  color: #ffffff;
}
.index-lg-block.bg-dark .summary {
  color: #92afd0;
}
.index-lg-block.bg-dark:after,
.index-lg-block.bg-dark:before {
  background-color: #323a47;
}
.index-lg-block.bg-dark > a > i {
  color: #ffffff;
}
.index-lg-block::before,
.index-lg-block::after {
  content: "";
  position: absolute;
  background-color: #f9f9f9;
  top: 0;
  bottom: 0;
  width: 9999px;
}
.index-lg-block::before {
  right: 100%;
}
.index-lg-block::after {
  left: 100%;
}
.index-lg-block h1 {
  margin-top: 0;
  margin-bottom: 24px;
}
.index-lg-block .summary {
  margin-bottom: 80px;
  font-size: 16px;
  color: #6c6c6c;
}
.index-lg-block .cont {
  min-height: 20px;
}
.index-lg-block .cont ul li {
  float: left;
}
.index-lg-block .product-info ul li {
  box-shadow: 0 4px 2px #aaaaaa;
  width: 300px;
}
.index-lg-block .product-info ul li img {
  width: 100%;
}
.index-lg-block .product-info ul li .des {
  background-color: #ffffff;
  padding: 16px 16px;
  height: 150px;
}
.index-lg-block .product-info ul li .des h3 {
  text-align: left;
  margin-top: 0;
}
.index-lg-block .product-info ul li .des p {
  text-align: left;
  font-size: 13px;
  color: #6c6c6c;
}
.index-lg-block > a > i {
  display: inline-block;
  margin-top: 60px;
  font-size: 40px;
  color: #acacac;
  font-weight: 200;
}
.index-lg-block > a:hover {
  text-decoration: none;
}
#updatelog .log-info #timeline,
#updatelog .log-info .des {
  width: 84%;
  margin: 0 auto;
}
#updatelog .log-info .timeline-date {
  margin-bottom: 56px;
}
#updatelog .log-info .timeline-date span {
  display: block;
  width: 16.666666%;
  color: #92afd0;
  float: left;
  margin-top: 15px;
}
#updatelog .log-info .timeline-date span.active {
  color: #06ffd3;
}
#updatelog .log-info .timeline-date:after {
  content: "";
  clear: both;
  display: block;
}
#updatelog .log-info .des img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  float: left;
}
#updatelog .log-info .des .article {
  text-align: left;
  color: #ffffff;
}
#updatelog .log-info .des .article h2 {
  margin-bottom: 30px;
}
#updatelog .log-info .des .article p {
  font-size: 16px;
  letter-spacing: 1px;
}
#updatelog .log-info .des:after {
  content: "";
  clear: both;
  display: block;
}
#service .service-info li {
  width: 25%;
  padding: 0 16px;
}
#service .service-info li .top .icon {
  height: 200px;
  width: 200px;
  line-height: 250px;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  color: #00b998;
  margin-bottom: 24px;
  -webkit-transition: all 100ms ease-out 0s;
  -moz-transition: all 100ms ease-out 0s;
  -ms-transition: all 100ms ease-out 0s;
  -o-transition: all 100ms ease-out 0s;
  transition: all 100ms ease-out 0s;
}
#service .service-info li .top .icon i {
  font-size: 70px;
}
#service .service-info li .top h3 {
  color: #6c6c6c;
}
#service .service-info li .des {
  color: #6c6c6c;
  font-size: 13px;
  text-align: left;
  letter-spacing: 1px;
}
#service .service-info li:hover .top .icon {
  background-color: #00b998;
  color: #ffffff;
}
#service .service-info li:hover .top h3 {
  color: #00b998;
}
#service .service-info li:hover .des {
  color: #323a47;
}
#service .service-info:after {
  content: "";
  clear: both;
  display: block;
}
#contact {
  color: #ffffff;
}
#contact:after,
#contact:before {
  background-color: #323a47;
}
#contact .summary {
  color: #92afd0;
}
#contact .contact-info li {
  width: 33.33333333%;
  padding: 0 16px;
}
#contact .contact-info li .top .icon {
  height: 200px;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  background-color: #4e637d;
  margin: 0 auto;
  -webkit-transition: all 100ms ease-out 0s;
  -moz-transition: all 100ms ease-out 0s;
  -ms-transition: all 100ms ease-out 0s;
  -o-transition: all 100ms ease-out 0s;
  transition: all 100ms ease-out 0s;
}
#contact .contact-info li .top .icon i {
  font-size: 100px;
}
#contact .contact-info li .des {
  letter-spacing: 1px;
  font-size: 16px;
}
#contact .contact-info li:hover .des {
  color: #00b998;
}
#contact .contact-info:after {
  content: "";
  clear: both;
  display: block;
}
#fans {
  padding: 0;
}
#fans .circle {
  border-radius: 50%;
  border: 6px solid #565e68;
}
#fans .circle img {
  border-radius: 50%;
  border: 6px solid #454d58;
}
#friends .summary {
  margin-bottom: 24px;
}
#friends .cont img {
  width: 180px;
  float: left;
}
#friends .cont:after {
  content: "";
  clear: both;
  display: block;
}
/*content page*/
.top-banner {
  height: 250px;
  background: url('/images/product_banner_bg.jpg') center top no-repeat;
}
.top-banner .cont {
  width: 50%;
  float: right;
  padding-top: 40px;
  padding-left: 180px;
}
.top-banner .cont p {
  font-size: 18px;
  margin-bottom: 20px;
}
.top-banner .cont a {
  color: #323a47;
  border-radius: 2px;
  border: 1px solid #323a47;
  padding: 8px 16px;
  font-size: 20px;
  -webkit-transition: all 150ms ease 0ms;
  -moz-transition: all 150ms ease 0ms;
  -ms-transition: all 150ms ease 0ms;
  -o-transition: all 150ms ease 0ms;
  transition: all 150ms ease 0ms;
}
.top-banner .cont a:hover {
  border-color: #00b998;
  color: #00b998;
  text-decoration: none;
}
.advantage-block {
  width: 1100px;
  margin: 0 auto 20px auto;
}
.advantage-block:after {
  content: "";
  clear: both;
  display: block;
}
.advantage-block .cont {
  padding-top: 85px;
}
.advantage-block img {
  display: block;
}
.advantage-block h3 {
  color: #6c6c6c;
  margin-bottom: 35px;
}
.advantage-block ul li {
  padding: 4px 0;
}
.advantage-block ul li i {
  margin-right: 15px;
  color: #ffffff;
  background-color: #a0a0a0;
  border: 3px solid #dadada;
  border-radius: 50%;
  font-size: 10px;
  padding: 2px;
}
.advantage-block ul li:hover {
  color: #00b998;
}
.advantage-block ul li:hover i {
  background-color: #00b998;
  border: 3px solid #bee5de;
}
.advantage-divider {
  height: 1px;
  background-color: #d3d3d3;
}
.reports-block {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.reports-block > h4 {
  margin-bottom: 45px;
}
.reports-block h2 {
  margin-bottom: 30px;
}
.reports-block ul li {
  width: 345px;
  float: left;
  margin: 0 10px;
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.reports-block ul li:hover {
  box-shadow: 0 2px 2px #ddd;
}
.reports-block ul li:hover .cont a {
  color: #00b998;
  text-decoration: none;
}
.reports-block ul li img {
  width: 100%;
  background-color: #00b998;
}
.reports-block ul li .cont {
  text-align: left;
  height: 150px;
  padding: 4px 8px;
}
.reports-block ul li .cont a {
  position: absolute;
  bottom: 10px;
  color: #e96264;
}
.reports-block ul li .cont a i {
  margin-left: 10px;
}
.about-block {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
.about-block:after {
  content: "";
  clear: both;
  display: block;
}
.about-block .cont {
  width: 880px;
  float: left;
  margin-right: 20px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
}
.about-block .cont > h4 {
  margin-top: 30px;
  color: #6c6c6c;
}
#aside {
  width: 200px;
  overflow: hidden;
  text-align: left;
}
#aside h3 {
  margin-top: 10px;
}
#aside .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #323a47;
}
#aside a {
  padding: 6px 12px;
  margin: 2px 0;
  display: block;
  color: #323a47;
}
#aside a:hover,
#aside a.active {
  color: #ffffff;
  background-color: #00b998;
  text-decoration: none;
}
#aboutus-block {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
#aboutus-block:after {
  content: "";
  clear: both;
  display: block;
}
#aboutus-block .cont {
  width: 880px;
  float: left;
  margin-right: 20px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
}
#aboutus-block .cont > h4 {
  margin-top: 30px;
  color: #6c6c6c;
}
#aboutus-block .cont h2 {
  margin-bottom: 60px;
}
#aboutus-block .cont div h4 {
  margin-bottom: 20px;
  margin-top: 20px;
}
#aboutus-block .cont div p {
  color: #6c6c6c;
  text-align: left;
}
#recruit-block {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
#recruit-block:after {
  content: "";
  clear: both;
  display: block;
}
#recruit-block .cont {
  width: 880px;
  float: left;
  margin-right: 20px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
}
#recruit-block .cont > h4 {
  margin-top: 30px;
  color: #6c6c6c;
}
#recruit-block .cont .item:before {
  content: '';
  width: 100%;
  height: 1px;
  margin: 40px 0;
  display: block;
  background-color: #dfdfdf;
}
#recruit-block .cont .item:after {
  content: "";
  clear: both;
  display: block;
}
#recruit-block .cont .item i {
  color: #ffffff;
  background-color: #00b998;
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: block;
  float: left;
}
#recruit-block .cont .item .info {
  overflow: hidden;
  text-align: left;
  float: left;
  margin-left: 20px;
}
#recruit-block .cont .item .info h2 {
  margin-top: 10px;
}
#recruit-block .cont .item .info > div {
  width: 350px;
  float: left;
  margin-right: 25px;
}
#recruit-block .cont .item .info > div ul {
  color: #6c6c6c;
  font-size: 13px;
}
#recruit-block .cont .item .info > div ul li {
  padding: 2px 0;
}
#recruit-block .cont .item .info > div:after {
  content: "";
  clear: both;
  display: block;
}
#recruit-block .cont .item .info > div h4 {
  margin-top: 20px;
}
#recruit-block .cont .item .info > h4 {
  margin-top: 10px;
}
#recruit-block .cont .item .info > h4:before {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
}
#safe-block {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
#safe-block:after {
  content: "";
  clear: both;
  display: block;
}
#safe-block .cont {
  width: 880px;
  float: left;
  margin-right: 20px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
}
#safe-block .cont > h4 {
  margin-top: 30px;
  color: #6c6c6c;
}
#safe-block .item {
  text-align: left;
  margin-top: 40px;
}
#safe-block .item img {
  float: left;
}
#safe-block .item .info {
  float: left;
  overflow: hidden;
  width: 650px;
  margin-left: 20px;
  color: #6c6c6c;
  font-size: 13px;
}
#safe-block .item .info h3 {
  margin-top: 0;
  position: relative;
  padding-left: 24px;
}
#safe-block .item .info h3 i {
  position: absolute;
  left: 0;
  top: 2px;
  color: #00b998;
}
#safe-block .item:after {
  content: "";
  clear: both;
  display: block;
}
#contact-block {
  width: 1100px;
  text-align: center;
  margin: 0 auto;
}
#contact-block:after {
  content: "";
  clear: both;
  display: block;
}
#contact-block .cont {
  width: 880px;
  float: left;
  margin-right: 20px;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 2px;
}
#contact-block .cont > h4 {
  margin-top: 30px;
  color: #6c6c6c;
}
#contact-block .cont {
  position: relative;
}
#contact-block .cont h2 {
  margin-bottom: 50px;
}
#contact-block .cont .x-wrap {
  position: absolute;
  top: 123px;
  left: 368px;
  margin: 0 auto;
  margin-left: 34px;
}
#contact-block .top-tools {
  margin-bottom: 50px;
}
#contact-block .top-tools > div {
  float: left;
  padding: 40px;
  font-size: 13px;
  color: #ffffff;
}
#contact-block .top-tools > div a {
  margin: 50px auto;
  width: 80%;
  padding: 20px;
  display: block;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
#contact-block .top-tools > div.bg-dark {
  width: 58%;
  padding-right: 20%;
}
#contact-block .top-tools > div.bg-dark a {
  color: #e96264;
}
#contact-block .top-tools > div.bg-dark a:hover {
  background-color: #e96264;
  color: #ffffff;
  text-decoration: none;
}
#contact-block .top-tools > div.bg-primary {
  width: 42%;
}
#contact-block .top-tools > div.bg-primary a {
  color: #ffffff;
}
#contact-block .top-tools > div.bg-primary a:hover {
  background-color: #ffffff;
  color: #00b998;
  text-decoration: none;
}
#contact-block .top-tools > div p:last-child {
  font-size: 16px;
}
#contact-block .top-tools:after {
  content: "";
  clear: both;
  display: block;
}
#contact-block .tm {
  background: url('/images/contactus_bg.jpg') left top no-repeat;
}
#contact-block .tm > * {
  margin-bottom: 40px;
}
#contact-block .tm p {
  font-size: 32px;
}
#contact-block .tm i {
  font-size: 48px;
  display: block;
  margin-bottom: 40px;
}
#contact-block .tm a {
  color: #ffffff;
  background-color: #e96264;
  padding: 15px 45px;
  display: inline-block;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s ease-in-out;
}
#contact-block .tm a:hover {
  background-color: #00b998;
  text-decoration: none;
}
.x {
  line-height: 1em;
  height: 0;
  border-width: 0 0 394px 100px;
  border-style: solid;
  border-color: transparent #00b998 #00b998 transparent;
  left: 3px;
  top: 0;
  position: absolute;
}
#scrollUp {
  bottom: 100px;
}
#scrollUp {
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 46px;
  height: 46px;
  opacity: .8;
  border-radius: 50%;
  color: #00b998;
  -webkit-transition: all 150ms ease 0ms;
  -moz-transition: all 150ms ease 0ms;
  -ms-transition: all 150ms ease 0ms;
  -o-transition: all 150ms ease 0ms;
  transition: all 150ms ease 0ms;
}
#scrollUp:hover {
  background-color: #00b998;
  border: 1px solid #00b998;
  color: #ffffff;
}
