<div class="content">
  <div class="title">修改密码</div>
  <div class="form">
    <form action="" class="text-grey">
      <div class="form-group">
        <input type="text" class="form-control input-lg" data-toggle="pwdstr" placeholder="请输入姓名"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg validate-input-error" id="" placeholder="请输入邮箱">
      </div>
      <div class="form-group clearfix">
        <div class="col-sm-6 nopadding-left">
          <input type="radio" name="sex" />男
        </div>
        <div class="col-sm-6 nopadding-left">
          <input type="radio" name="sex" />女
        </div>
      </div>
      <!--<div class="form-group">-->
        <!--<input type="file" name="user[file]" id="file_upload"/>-->

      <!--</div>-->
      <div class="form-group text-right text-center">
        <a href="javascript:;" class="btn btn-lg btn-primary pull-left col-sm-12">完 成</a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
//  $(function(){
//    $("#file_upload").uploadify({
//
//      'height':34,
//      'buttonClass': 'btn btn-primary',
//      'buttonText': '选择文件. . . ',
//      'removeTimeout':2,
//      'auto': false,
//      'swf': '/javascripts/upload/uploadify.swf',
//      'uploader': '/upload'
//    });
//  })
</script>