<div class="content">
  <div class="title">找回密码</div>
  <div class="form">
    <form action="" class="text-grey">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="请输入您的新密码"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg validate-input-error" id="" placeholder="请再次输入您的新密码">
        <span class="validate-info-error">您两次输入的密码不一致</span>
      </div>

      <div class="form-group text-right text-center">
        <a href="javascript:;" class="btn btn-lg btn-primary pull-left col-sm-12">确 定</a>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
