<div class="content">
    <div class="title">找回密码</div>
    <div class="form">
        <form action="" class="text-grey">
            <div class="form-group">
                找回密码功能将停用您当前的密码，请在验证身份后重新设置密码
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="请输入您的手机号/邮箱"/>
            </div>
            <div class="form-group">
                <a href="javascript:;" class="btn btn-lg btn-primary disabled">获取验证码</a>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="请输入验证码">
            </div>
            <div class="form-group">
                如果一段时间没有收到，请重新获取，您也可以： <a href="javascript:;" class="a-primary">查看帮助</a>
            </div>
            <div class="form-group text-right">
                <a href="javascript:;" class="btn btn-lg btn-primary pull-left w-m">提交申请</a>
                <div class="form-tools login-link"><a href="register" class="a-grey">免费注册</a><span>|</span><a
                            href="login" class="a-grey">登录</a></div>
            </div>
        </form>

    </div>
</div>
