<div class="content">
    <div class="title">初始化设置</div>
    <div class="form">
        <form action="" class="text-grey">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="请输入您的公司名称"/>

            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg validate-input-error" id="" placeholder="请输入您的真实姓名">
                <span class="validate-info-error">请输入信息</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="请输入您的职位">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="" value="doubi@qq.com" readonly>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="请输入您的密码">
                <span class="validate-info-error">密码为6～12位的数字或者字母</span>
            </div>
            <div class="form-group">
                点击“完成注册”，即表示您同意并愿意遵守 <a href="javascript:;" class="a-primary">《爱客使用条款》</a>
            </div>
            <div class="form-group text-right">
                <a href="javascript:;" class="btn btn-lg btn-primary pull-left w-m">完成注册</a>
                <div class="form-tools">已是爱客会员？<a href="login" class="a-primary">立即登录</a></div>
            </div>
        </form>
    </div>
</div>
