<div class="content">
    <div class="title">登录</div>
    <div class="form">
        <form action="" class="text-grey">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="请输入您的手机号/邮箱"/>

            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg validate-input-error" id="" placeholder="请输入登录密码">
                <span class="validate-info-error">您输入的密码不正确</span>
            </div>
            <div class="form-group">
                <input type="checkbox" class=""/>记住用户信息
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="请输入验证码">
            </div>
            <div class="form-group text-right">
                <a href="javascript:;" class="btn btn-lg btn-primary pull-left w-m">登 录</a>
                <div class="form-tools login-link"><a href="/reglogin/register" class="a-grey">免费注册</a><span>|</span><a href="/reglogin/findpwd" class="a-grey">忘记密码？</a></div>
            </div>
            <div class="form-group mobile-download">
               手机版客户端： <a href="javascript:;" class="text-grey"><i class="icon-apple"></i>苹果版客户端下载</a><a href="javascript:;" class="text-grey"><i class="icon-uniE60D"></i>安卓版客户端下载</a>
            </div>
        </form>

    </div>
</div>
