<div class="content">
    <div class="title">注册</div>
    <div class="form">
        <form action="" class="text-grey" method="get" id="form1">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="请输入您的手机号/邮箱"/>

            </div>
            <div class="form-group">
                <div class="col-sm-8 nopadding-left">
                    <input type="text" class="form-control input-lg" name="validate_code" id="" placeholder="请输入图片中的文字">
                </div>

                <div class="col-sm-4 nopadding validate-code">
                    <div class="img" >1112</div>
                    <div class="refresh">看不清？ <a href="javascript:;" class="a-primary">换一张</a> </div>
                </div>
                <!--<span class="validate-info-error">验证码输入错误</span>-->
                <div class="clearfix"></div>
            </div>

            <div class="form-group">
                <a href="javascript:;" class="btn btn-lg btn-primary J-getcode">获取验证码</a>
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-lg" id="" placeholder="请输入验证码">
            </div>
            <div class="form-group text-right">
                <a href="/reglogin/init" class="btn btn-lg btn-primary pull-left w-m">下一步</a>
                <!--<input type="submit" class="btn btn-lg btn-primary pull-left w-m" value="下一步"/>-->
                <div class="form-tools ">已是爱客会员？<a href="/reglogin/login" class="a-primary">立即登录</a></div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
</script>
