<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    body {
      background-color: #f9f9f9;
    }

    .wrap {
      width: 1100px;
      text-align: center;
      margin: 0 auto;
    }

    .links {
      clear: both;
      display: table-cell;
    }

    a.link {
      background-color: #ffffff;
      float: left;
      width: 300px;
      margin: 20px 30px;
      padding: 20px 0;
      border: 1px solid #eeeeee;
    }

    a.link {
      color: #515151;
      text-decoration: none;
      font-size: 20px;
    }

    .wrap h1 {
      color: #00b998;
    }

    .wrap h3 {
      color: #515151;
    }

    a.start {
      text-decoration: none;
      width: 200px;
      height: 50px;
      line-height: 50px;
      color: #ffffff;
      background-color: #00b998;
      display: block;
      margin: 0 auto;
      font-size: 18px;
      border-radius: 2px;
    }
  </style>


</head>
<body>
<div class="wrap">
  <h1>欢迎使用爱客CRM</h1>

  <h3>你已成功注册爱客CRM！在开始使用之前，你可以选择：</h3>

  <div class="links">
    <a class="link" href="javascript:;">
      <img src="/images/welcome/1.png" alt=""/>

      <p class="title">自定义合适权限的角色</p>
    </a>
    <a class="link" href="javascript:;">
      <img src="/images/welcome/2.png" alt=""/>

      <p class="title">设置部门，邀请同事一起体验</p>
    </a>
    <a class="link" href="javascript:;">
      <img src="/images/welcome/3.png" alt=""/>

      <p class="title">设置适合你业务的数据字典</p>
    </a>
    <a class="link" href="javascript:;">
      <img src="/images/welcome/4.png" alt=""/>

      <p class="title">查看帮助手册</p>
    </a>
    <a class="link" href="javascript:;">
      <img src="/images/welcome/5.png" alt=""/>

      <p class="title">下载移动客户端，体验移动版</p>
    </a>
    <a class="link" href="javascript:;">
      <img src="/images/welcome/6.png" alt=""/>

      <p class="title">联系我们，获取更多帮助</p>
    </a>

  </div>

  <a href="javascript:;" class="start">开始使用</a>

</div>
</body>
</html>
