<div class="g_bggreen">
  <div class="g_cont ">
    <div class="g_help" align="center">
      <div class="g_help_small colf">Ik CRM.com</div>
      <div class="g_help_big colf">帮助中心</div>
      <div class="g_search clearfix">
        <form>
          <input type="text" placeholder="搜索问题或关键字（如任务）" class="g_s_inpt">
          <input type="submit" value="搜索" class="g_s_sub"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="g_cont">
  <div class="g_bot3">
    <div class="g_tit1 g_col1"> 1.11　企业号绑定</div>
    <div class="g_art">
      <div><img src="/img/g_p3.jpg"/></div>
      <p>您可以在此页面对您的微官网导航栏进行设置（部分导航栏功能样式支持自定义）</p>

      <p>【Step
        1】首页导航栏设置：您可以新增或者编辑一个导航栏的按钮，设置按钮的名称（可选，部分模板支持）、按钮图标（可自定义）、按钮功能（展现类型）、排序（在导航栏的位置）；您还可以在列表中对导航栏按钮进行排序或者删除</p>

      <p>【Step
        2】内页导航栏设置：您可以新增或者编辑一个导航栏的按钮，设置按钮的名称（可选，部分模板支持）、按钮图标（可自定义）、按钮功能（展现类型）、排序（在导航栏的位置）；您还可以在列表中对导航栏按钮进行排序或者删除</p>

      <p>【Step 3】您可以通过复制内页设置或者复制首页设置来快速为内页或者首页的导航栏设置功能样式（如果您想让首页和内页的导航栏实现不同功能，则需要分别单独设置）</p>
      <div><img src="/img/g_p4.jpg"/></div>
      <P>您可以在此页面对您的微官网导航栏进行设置（部分导航栏功能样式支持自定义）
        【Step 1】首页导航栏设置：您可以新增或者编辑一个导航栏的按钮，设置按钮的名称（可选，部分模板支持）、按钮图标（可自定义）、按钮功能（展现类型）、排序（在导航栏的位置）；您还可以在列表中对导航栏按钮进行排序或者删除</P>
    </div>
  </div>
</div>
<div class="g_bg2">
  <div class="g_cont">
    <div align="center" class="g_padv23">
      <a href="#" class="g_btn1">发送反馈</a>
      <a href="#" class="g_btn1">返回帮助中心</a>
    </div>
  </div>
</div>
