<div class="g_bggreen">
  <div class="g_cont ">
    <div class="g_help" align="center">
      <div class="g_help_small colf">Ik CRM.com</div>
      <div class="g_help_big colf">帮助中心</div>
      <div class="g_search clearfix">
        <form>
          <input type="text" placeholder="搜索问题或关键字（如任务）" class="g_s_inpt">
          <input type="submit" value="搜索" class="g_s_sub"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="g_bg3">
  <div class="g_cont">
    <div class="g_help_tit1">
      <h6>你是否遇到了这些问题</h6>
      <p>用户数据安全是云软件厂商的生命线。爱客CRM正在全方位保护客户企业的信息安全。</p>
    </div>
    <div class="g_help1 clearfix">
      <ul>
        <li class="g_mal0">
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon1"></i></span></div>
          <p class="g_h4">我遇到麻烦了...</p>
          <p><a href="#">为什么我收不到验证码</a> </p>
          <p><a href="#">如何修改密码</a> </p>
          <p><a href="#">注册失败怎么办</a> </p>
        </li>
        <li>
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon2"></i></span></div>
          <p class="g_h4">我对功能有疑问...</p>
          <p><a href="#">如何设置业务目标如何</a> </p>
          <p><a href="#">设置业务目标</a> </p>
          <p><a href="#">如何设置业务目标如何设置业</a> </p>
        </li>
        <li>
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon3"></i></span></div>
          <p class="g_h4">我不知道怎么做...</p>
          <p><a href="#">线索转成客户信息丢失了？</a> </p>
          <p><a href="#">线索转成客户信</a> </p>
          <p><a href="#">线索转成客户信息丢</a> </p>
        </li>
        <li class="g_mal0">
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon4"></i></span></div>
          <p class="g_h4">我想要付费...</p>
          <p><a href="#">为什么我收不到验证码</a> </p>
          <p><a href="#">如何修改密码</a> </p>
          <p><a href="#">注册失败怎么办</a> </p>
        </li>
        <li>
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon5"></i></span></div>
          <p class="g_h4">我是管理员...</p>
          <p><a href="#">如何设置业务目标如何</a> </p>
          <p><a href="#">设置业务目标</a> </p>
          <p><a href="#">如何设置业务目标如何设置业</a> </p>
        </li>
        <li>
          <div align="center"><span class="g_iconbg"><i class="g_icon g_icon6"></i></span></div>
          <p class="g_h4">使用移动客户端...</p>
          <p><a href="#">线索转成客户信息丢失了？</a> </p>
          <p><a href="#">线索转成客户信</a> </p>
          <p><a href="#">线索转成客户信息丢</a> </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="g_bg4">
  <div class="g_cont">
    <div class="g_help_tit1">
      <h6>使用手册</h6>
      <p>用户数据安全是云软件厂商的生命线。爱客CRM正在全方位保护客户企业的信息安全。</p>
    </div>
    <div class="g_help2 clearfix">
      <ul>
        <li class="g_mal0">
          <a href="#">
            <span class="g_b g_b1"></span>
            <p>登录注册 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b2"></span>
            <p>工作台 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b3"></span>
            <p>线索 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b4"></span>
            <p>客户 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b5"></span>
            <p>联系人 </p>
          </a>
        </li>
        <li class="g_mal0">
          <a href="#">
            <span class="g_b g_b6"></span>
            <p>商机 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b7"></span>
            <p>合同 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b8"></span>
            <p>日程任务 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b9"></span>
            <p>工作报告 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b10"></span>
            <p>知识库 </p>
          </a>
        </li>
        <li class="g_mal0">
          <a href="#">
            <span class="g_b g_b11"></span>
            <p>产品 </p>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="g_b g_b12"></span>
            <p>产品画报 </p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="g_bg5" id="feedback">
  <div class="g_cont">
    <div class="g_help_tit1">
      <h6>问题反馈</h6>
      <p>没有找到想要的答案？发送反馈给客服获取帮助吧</p>
    </div>
    <div class="g_feedback">
      <form action="">
        <ul>
          <li >
            <div class="g_select_box">
              <span class="g_select_txt g_cor3">请选择您的反馈类型</span><a class="g_selet_open"></a>
              <div class="g_option">
                <a>反馈类型1</a>
                <a>反馈类型12</a>
                <a>反馈类型13</a>
              </div>
            </div>
          </li>
          <li>
            <input type="text" class="g_input1" placeholder="请输入您的邮箱地址"/>
          </li>
          <li><textarea placeholder="请输入您想要反馈的内容" class="g_input2" rows="3"></textarea></li>
          <li><p align="center"><input type="submit" value="发送反馈" class="g_input3"></p></li>

        </ul>
      </form>
    </div>
  </div>
</div>